:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  position: relative;
  background: linear-gradient(45deg, #0f81e8, #40d7d4, #ffa902);
  overflow: hidden;
  margin: auto;
  padding: 1rem;
}

.text-element {
  word-wrap: break-word;
  word-break: break-word; /* Force long words to wrap */
  white-space: normal; /* Ensure text wraps normally */
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: conic-gradient(from 90deg at 50% 50%, #ffa902, #0f81e8);
  width: 300px;
  height: 300px;
  opacity: 0.8;
  animation: move 15s ease-in-out infinite;
}

.circle:nth-child(1) {
  top: -50px;
  left: -50px;
  animation-delay: 0s;
}

.circle:nth-child(2) {
  top: 100px;
  left: 200px;
  animation-delay: 5s;
}

.circle:nth-child(3) {
  top: 300px;
  left: -100px;
  animation-delay: 10s;
}

@keyframes move {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(50px, 50px) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
